.el-button.is-text {
	padding: 8px;
}

.el-menu-vertical {
	.el-menu-item.is-active {
		background-color: var(--el-menu-hover-bg-color);
		border-radius: 6px;
	}

	.el-menu-item,
	.el-sub-menu__title {
		border-radius: 6px;
		&:hover {
			background-color: var(--el-menu-hover-bg-color);
			color: var(--el-color-primary);
		}
	}
}

.el-menu-horizontal {
	li.el-menu-item.is-active {
		background-color: var(--el-menu-hover-bg-color);
	}
	.el-sub-menu.is-active .el-sub-menu__title {
		background-color: var(--el-menu-hover-bg-color);
	}
	.el-sub-menu .el-sub-menu__title {
		&:hover {
			background-color: var(--el-menu-hover-bg-color);
			color: var(--el-color-primary);
		}
	}
	.el-menu-item,
	.el-sub-menu__title {
		&:hover {
			background-color: var(--el-menu-hover-bg-color);
			color: var(--el-color-primary);
		}
	}
}

.el-menu--horizontal .el-menu .el-menu-item.is-active,
.el-menu--horizontal .el-menu .el-sub-menu.is-active > .el-sub-menu__title {
	background-color: var(--el-menu-hover-bg-color);
}
